In [ ]:
import requests
import pandas as pd
from tqdm import tqdm
import time
import os

API_KEY = "eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI3YTA4ZDFiNTIzNzAyMTA5MzI4M2ZlNDYyM2NiMmVlNiIsIm5iZiI6MTczOTYxMzMyMC42MzMsInN1YiI6IjY3YjA2NDg4ZTVhNmVlYmFkZjM2MjY0MCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.DhAOCiWFMSjwVZu1N3Q7D8MrxQVJiKtTJUVaiEpYf-A"
HEADERS = {"Authorization": f"Bearer {API_KEY}"}
BASE_URL = "https://api.themoviedb.org/3"
LANG = "en-US"
START_YEAR = 2015
END_YEAR = 2025
MAX_PAGES_PER_YEAR = 1000
CHECKPOINT_FILE = "tmdb_checkpoint_213.csv"
OUTPUT_FILE = "tmdb_full_dataset_213.csv"

if os.path.exists(CHECKPOINT_FILE):
    checkpoint_df = pd.read_csv(CHECKPOINT_FILE)
    processed_ids = set(checkpoint_df["tmdb_id"].astype(str))
    all_items = checkpoint_df.to_dict(orient="records")
    print(f"🔁 Продолжаем с {len(all_items)} уже загруженных записей")
else:
    processed_ids = set()
    all_items = []

def discover_items_by_year(media_type, year):
    url = f"{BASE_URL}/discover/{media_type}"
    items = []

    for page in tqdm(range(1, MAX_PAGES_PER_YEAR + 1), desc=f"{media_type} {year}", position=1, leave=False):
        params = {
            'with_networks': 213,
            "language": LANG,
            "sort_by": "popularity.desc",
            "page": page
        }

        if media_type == "movie":
            params["primary_release_date.gte"] = f"{year}-01-01"
            params["primary_release_date.lte"] = f"{year}-12-31"
        else:
            params["first_air_date.gte"] = f"{year}-01-01"
            params["first_air_date.lte"] = f"{year}-12-31"

        try:
            response = requests.get(url, headers=HEADERS, params=params)
            if response.status_code != 200:
                break

            results = response.json().get("results", [])
            if not results:
                break

            for item in results:
                if str(item.get("id")) in processed_ids:
                    continue
                items.append({
                    "tmdb_id": item.get("id"),
                    "name": item.get("title") if media_type == "movie" else item.get("name"),
                    "overview": item.get("overview"),
                    "release_date": item.get("release_date") if media_type == "movie" else item.get("first_air_date"),
                    "vote_average": item.get("vote_average"),
                    "vote_count": item.get("vote_count"),
                    "popularity": item.get("popularity"),
                    "original_language": item.get("original_language"),
                    "type": media_type
                })

            time.sleep(0.2)

        except Exception as e:
            print(f"Ошибка при загрузке страницы {page} {media_type} {year}: {e}")
            break

    return items

for media_type in ["movie", "tv"]:
    print(f"\n📦 Обработка {media_type} по годам")
    year_range = list(range(START_YEAR, END_YEAR + 1))
    for i, year in enumerate(tqdm(year_range, desc=f"{media_type} years", position=0, leave=True)):
        items = discover_items_by_year(media_type, year)
        all_items.extend(items)

        # сохраняем промежуточный результат
        df_checkpoint = pd.DataFrame(all_items)
        df_checkpoint.to_csv(CHECKPOINT_FILE, index=False)

# Финальное сохранение
df = pd.DataFrame(all_items)
df.to_csv(OUTPUT_FILE, index=False)
print("\n✅ Готово! Данные сохранены в tmdb_full_dataset.csv")

📦 Обработка movie по годам

movie years: 100%|██████████| 2/2 [00:03<00:00,  1.67s/it]

📦 Обработка tv по годам

tv years: 100%|██████████| 2/2 [00:03<00:00,  1.58s/it]

✅ Готово! Данные сохранены в tmdb_full_dataset.csv

In [2]:
CHECKPOINT_FILE = "tmdb_checkpoint_213.csv"
OUTPUT_FILE = "tmdb_full_dataset_213.csv"
df = pd.read_csv(CHECKPOINT_FILE)
df.shape

(160, 11)

In [3]:
df.head()

,tmdb_id,name,overview,release_date,vote_average,vote_count,popularity,original_language,poster_path,backdrop_path,type
0,1241982,Moana 2,After receiving an unexpected call from her wa...,2024-11-21,7.100,2048,144.000988,en,/aLVkiINlIeCkcZIzb7XHzPYgO6L.jpg,/zo8CIjJ2nfNOevqNajwMRO6Hwka.jpg,movie
1,1077782,Old Guy,Stuck at a dead end but vying for the love of ...,2024-12-13,5.461,51,113.514582,en,/ulVVfNY8bmy1RbHfY4zi3fOwGzh.jpg,/AtciHGgpOU7ngsVhXbS2S5Spdlv.jpg,movie
2,1217379,Hellhound,"Ready to leave his profession behind, Loreno, ...",2024-06-20,6.300,23,101.750955,en,/h1BtcTEk0pbe9XhbxrAp2oLKoWb.jpg,/mhKQ5ntqlXyck0TWh1pCpn42aAx.jpg,movie
3,939243,Sonic the Hedgehog 3,"Sonic, Knuckles, and Tails reunite against a p...",2024-12-19,7.759,2270,91.206204,en,/d8Ryb8AunYAuycVKDp5HpdWPKgC.jpg,/zOpe0eHsq0A2NvNyBbtT6sj53qV.jpg,movie
4,762509,Mufasa: The Lion King,"Mufasa, a cub lost and alone, meets a sympathe...",2024-12-18,7.500,1699,90.635732,en,/lurEK87kukWNaHd0zYnsi3yzJrs.jpg,/1w8kutrRucTd3wlYyu5QlUDMiG1.jpg,movie